html{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav.navbar {
    width: 100vw;
    height: 50px;
    background-color: rgb(221, 29, 29);
    padding: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}
nav .brand {
    font-size: 2rem;
    letter-spacing: 2px;
    padding-right: 20px;
}
ul.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    justify-content: space-evenly;
    /* background-color: yellow; */
    /* height: auto;
    width: 40%;
    justify-content: space-around; */
}
.menu li:hover{
    color: white;
    background-color: black;
    width: 110px;
    height: 40px;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
}
/* .menu li:hover{
    color: black;
    background-color: white;
    width: 110px;
    height: 40px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px;
} */
.menuActive{
    width: 110px;
    height: 40px;
    background-color: black;
    border-radius: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menuActive a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
p{
    padding-left: 30px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* .menuActive a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.menu_item a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
